<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.natanloterio.bankingapp">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
            <activity android:name=".presentation.ui.welcome.WelcomeActivity">
                <intent-filter>
                    <category android:name="android.intent.category.LAUNCHER"/>
                    <action android:name="android.intent.action.MAIN"/>
                </intent-filter>
            </activity>

            <activity android:name=".presentation.ui.welcome.CreateAccountActivity"/>
            <activity android:name=".presentation.ui.welcome.MainActivity"/>

    </application>
</manifest>
